# Arquivos de compilação e diretórios gerados
target/
bin/
out/

# Configurações específicas de IDE
.idea/
*.iml
*.iws
*.ipr

# Arquivos de compilação do Maven
*.class

# Logs, save e arquivos temporários
*.log
*.swp
src/main/resources/save/

# Dependendo do ambiente de desenvolvimento, você também pode adicionar diretórios específicos, como:

# Eclipse
.settings/

# NetBeans
nb-configuration.xml

# Gradle
.gradle/
build/

# Arquivos de configuração do Git
.gitattributes
.gitignore

# Arquivos específicos de sistema operacional
*.DS_Store
Thumbs.db
