# Arquivos de compilação e diretórios gerados
target/
bin/
out/

# Configurações específicas de IDE
.idea/
*.iml
*.iws
*.ipr

# Arquivos de compilação do Maven
*.class

# Logs e arquivos temporários
*.log
*.swp
*~

# Dependendo do ambiente de desenvolvimento, você também pode adicionar diretórios específicos, como:

# Eclipse
.settings/

# NetBeans
nb-configuration.xml

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
*.iws

# Gradle
.gradle/
build/

# Spring Boot
/target/
*.log

# Arquivos de configuração do Git
.gitattributes
.gitignore

# Arquivos específicos de sistema operacional
*.DS_Store
Thumbs.db
